<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akramhossain.quranulkarim"
    android:versionCode="7"
    android:versionName="2.0">
    <!-- Allow to connect with internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name="com.akramhossain.quranulkarim.SplashScreenActivity" android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.akramhossain.quranulkarim.SearchActivity" />
        <activity android:name="com.akramhossain.quranulkarim.QuickLinksActivity" />
        <activity
            android:name="com.akramhossain.quranulkarim.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.akramhossain.quranulkarim.BookmarkActivity"
            android:label="@string/title_activity_bookmark" />
        <activity
            android:name="com.akramhossain.quranulkarim.DictionaryActivity"
            android:label="@string/title_activity_dictionary" />
        <activity
            android:name="com.akramhossain.quranulkarim.WordMeaningActivity"
            android:label="@string/title_activity_word_meaning" />
        <activity
            android:name="com.akramhossain.quranulkarim.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akramhossain.quranulkarim.SuraListActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.akramhossain.quranulkarim.MainActivity" />
        <activity
            android:name="com.akramhossain.quranulkarim.SuraActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.akramhossain.quranulkarim.SuraListActivity" />
        <activity
            android:name="com.akramhossain.quranulkarim.MoreActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.akramhossain.quranulkarim.SuraListActivity" />
        <activity
            android:name="com.akramhossain.quranulkarim.SuraListV2Activity"
            android:label="@string/title_activity_sura_list_v2" />
        <activity android:name="com.akramhossain.quranulkarim.SuraDetailsActivity" />

        <receiver android:name="com.akramhossain.quranulkarim.notification.AlarmReceiver"/>
        <receiver android:name="com.akramhossain.quranulkarim.notification.AlarmBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>