<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codxplore.quranulkarim"
    android:versionCode="2"
    android:versionName="2.0">
    <!-- Allow to connect with internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".QuickLinksActivity"></activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".BookmarkActivity"
            android:label="@string/title_activity_bookmark" />
        <activity
            android:name=".DictionaryActivity"
            android:label="@string/title_activity_dictionary" />
        <activity
            android:name=".WordMeaningActivity"
            android:label="@string/title_activity_word_meaning" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SuraListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SuraActivity"
            android:label="@string/app_name"
            android:parentActivityName=".SuraListActivity" />
        <activity
            android:name=".MoreActivity"
            android:label="@string/app_name"
            android:parentActivityName=".SuraListActivity" />
        <activity
            android:name=".SuraListV2Activity"
            android:label="@string/title_activity_sura_list_v2" />
        <activity android:name=".SuraDetailsActivity" />
    </application>

</manifest>